{% extends "ImagesApp/major.html" %}
{% block content %}
{% load static %}
{% for img in all_images %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>{{img.path_hash}}</p>
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'ImagesApp/images/'%}{{ img.path_hash }}" alt="">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">время обновления: {{img.uploade_date}}</small>
                            <div class="btn-group">
                                <a href="/upload/?img={{ img.path_hash }}"><button type="button" class="btn btn-sm btn-outline-secondary">Upload</button></a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Resize</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}